{% extends "shared/base_homepages.html" %}

    {% block content %}
    <section class="section-header overflow-hidden pt-7 pt-lg-6 pb-9 pb-lg-0 bg-primary text-white">
    </section>

    <div class="section section-sm pb-0 mb-n4">
      <div class="container">
          <div class="row justify-content-center">
              <h1 class="text-center">Contacta con nosotros</h3>
          </div>
      </div>
  </div>
        <!-- Section -->
        <section class="section section-lg pt-6">
            <div class="container">
                <div class="row justify-content-center mb-5 mb-lg-6">
                    <div class="col-12 col-lg-8">
                        <div class="card border-0 p-2 p-md-3 p-lg-5">
                            <div class="card-header bg-white border-0 text-center">
                                <h2>Necesitas contactar con nosotros</h2>
                                <p>Hazlo a través de nuestro sistema de Reportes, nuestro equipo de la
                                    Disertic estará encantado de asistirle
                                </p>
                            </div>
                            <div class="row justify-content-center mb-3 mt-2 me-2 me-md-3">
                              <a href="https://soporte.cujae.edu.cu/" class="btn btn-primary col-lg-3 col-sm-6"  style="position: inherit; margin: 20px;">Soporte Cujae</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

  {% include 'includes/footer.html' %} 
  {% endblock %}