<!DOCTYPE html>
<html lang="en-us">
<meta charset="utf-8">
<meta name="viewport" content="width-device-width, initial-scale=1.0">

<link href="{{ url_for('static', path='/css/tailwind.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/css_template_tailwind/preloader.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/css_template_tailwind/font-awesome-pro.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/css_template_tailwind/metisMenu.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/css_template_tailwind/swiper-bundle.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/css_template_tailwind/nice-select.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/css_template_tailwind/main.css') }}" rel="stylesheet">


<title>Portal Carnetización</title>
<link rel="icon" href="/static/image/logo.png">

<script src="{{ url_for('static', path='/js/js_template_tailwind/tailwind-config.js') }}"></script>
</head>

<body class="bg-bodyBg">
<script id="__bs_script__">//<![CDATA[
document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.27.10'><\/script>".replace("HOST", location.hostname));
//]]></script>

<main>

    <div class="absolute">
        <img src="/static/image/home.jpg" alt="" class="opacity-80">
        <a href="/login" class="absolute card bg-white blur top-1/4 left-1/4 h-1/2 w-1/5 rounded-3xl shadow-2xl hover:shadow-lg hover:opacity-90 cursor-pointer">
            <iconify-icon icon="uim:lock-access" class="bg-green-100 mx-20 my-10 p-3.5 rounded-full" width="80" height="80"></iconify-icon>
             <h1 class="mx-10 -my-10 font-bold">Control de acceso CUJAE</h1>
            <div class="bg-green-400 h-0.5 mx-5 my-12"></div>
            <h1 class="mx-5 text-center -my-1.5">Sistema que controla el acceso de visitantes a la universidad</h1>
        </a>
        <a href="/login" class="absolute card bg-white blur top-1/4 right-1/4 h-1/2 w-1/5 rounded-3xl shadow-2xl hover:shadow-lg hover:opacity-90 cursor-pointer">
            <iconify-icon icon="carbon:identification" class="bg-green-100 mx-20 my-10 p-3.5 rounded-full" width="80" height="80"></iconify-icon>
            <h1 class="mx-20 -my-10 font-bold">Carnetización</h1>
            <div class="bg-green-400 h-0.5 mx-5 my-12"></div>
            <h1 class="mx-5 text-center -my-1.5">Sistema para la impresión de carneses del personal</h1>
        </a>
    </div>

</main>

<!-- pre loader area start -->
<div id="loading">
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="loading-icon text-center flex flex-col items-center justify-center">
                <img src="/static/image/logo_cujae.png" alt="Cashiar" style="height: 15rem">
                <img class="loading-logo" src="/static/image/ilustraciones/logo/preloader.svg" alt="img">
            </div>
        </div>
    </div>
</div>
<!-- pre loader area end -->


<script src="{{ url_for('static', path='/js/js_template_tailwind/vendor/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/js_template_tailwind/metisMenu.js') }}"></script>
<script src="{{ url_for('static', path='/js/js_template_tailwind/jquery.nice-select.js') }}"></script>
<script src="{{ url_for('static', path='/js/js_template_tailwind/swiper-bundle.min.js') }}"></script>
<script src="{{ url_for('static', path='/js/js_template_tailwind/apexcharts.js') }}"></script>
<script src="{{ url_for('static', path='/js/js_template_tailwind/main.js') }}"></script>

<script src="{{ url_for('static', path='/js/js_template_tailwind/iconify-icon.min.js') }}"></script>

<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</body>

</html>
