<div class="cashier-header-area shadow-md">
    <div class="cashier-header-wrapper custom-height-70 px-7 custom-height-70 bg-white border-b border-solid border-grayBorder">
        <div class="grid grid-cols-12 items-center h-full">
            <div class="col-span-12">
                <!-- header area start here -->
                <div class="cashier-header-content flex items-center justify-between custom-height-70">
                    <div class="cashier-header-breadcrumb">
                        <h5 class="text-[20px] text-heading font-bold mb-1 leading-none">Sistema para el control del flujo de visitantes en la universidad</h5>
                        <ul>
                            <li class="text-[14px] text-bodyText font-normal inline-block mr-2">Disertic</li>
                            <li class="text-[12px] text-bodyText font-normal inline-block mr-2 translate-y-0">
                                <img src="/static/image/logo.png" class="h-10" alt="profile not found">
                            </li>
                            <li class="text-[14px] text-bodyText font-normal inline-block mr-2">CUJAE
                            </li>
                        </ul>
                    </div>
                    <div class="flex items-center">
                        <div id="sidebarToggle" class="cashier-header-bar-responsive cursor-pointer mr-5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="23.094" height="16.166"
                                 viewBox="0 0 23.094 16.166">
                                <path id="menu"
                                      d="M5.774,77.955A1.155,1.155,0,0,1,6.928,76.8H21.939a1.155,1.155,0,1,1,0,2.309H6.928A1.155,1.155,0,0,1,5.774,77.955Zm16.166,5.773H1.155a1.155,1.155,0,1,0,0,2.309H21.939a1.155,1.155,0,1,0,0-2.309Zm0,6.928H11.547a1.155,1.155,0,1,0,0,2.309H21.939a1.155,1.155,0,1,0,0-2.309Z"
                                      transform="translate(0 -76.8)" fill="#616161"/>
                            </svg>
                        </div>
                        <div class="cashier-header-notify-wrapper px-5 flex items-center border-l border-solid border-grayBorder custom-height-70 pr-0">
                            <div id="langdropdown"
                                 class="cashier-header-language flex items-center relative">
                                <div class="cashier-header-language-content">
                                    <ul>
                                        <li class="flex "><a href="javascript:void(0)"
                                                             class="text-[14px] text-bodyText translate-y-[2px] font-bold">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17"
                                                 height="16.944"
                                                 viewBox="0 0 17 16.944">
                                                <g id="logout_1_" data-name="logout (1)"
                                                   transform="translate(0 -0.85)">
                                                    <g id="Group_2761" data-name="Group 2761"
                                                       transform="translate(0 0.85)">
                                                        <g id="Group_2760" data-name="Group 2760">
                                                            <path id="Path_5777" data-name="Path 5777"
                                                                  d="M8.472,16.382H2.118a.706.706,0,0,1-.706-.706V2.968a.706.706,0,0,1,.706-.706H8.472a.706.706,0,0,0,0-1.412H2.118A2.121,2.121,0,0,0,0,2.968V15.676a2.121,2.121,0,0,0,2.118,2.118H8.472a.706.706,0,1,0,0-1.412Z"
                                                                  transform="translate(0 -0.85)"
                                                                  fill="#616161"/>
                                                        </g>
                                                    </g>
                                                    <g id="Group_2763" data-name="Group 2763"
                                                       transform="translate(5.648 4.38)">
                                                        <g id="Group_2762" data-name="Group 2762">
                                                            <path id="Path_5778" data-name="Path 5778"
                                                                  d="M181.242,111.6l-4.292-4.236a.706.706,0,1,0-.991,1.005l3.067,3.027h-8.22a.706.706,0,0,0,0,1.412h8.22l-3.067,3.027a.706.706,0,1,0,.991,1.005l4.292-4.236a.706.706,0,0,0,0-1.005Z"
                                                                  transform="translate(-170.1 -107.165)"
                                                                  fill="#616161"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                        </a></li>
                                    </ul>
                                </div>
                                <div class="cashier-quick-dropdown cashier-quick-lang-dropdown">
                                    <ul class="lang-dropdown-wrapper">
                                        <li><a href="login/cerrarsesion">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17"
                                                 height="16.944"
                                                 viewBox="0 0 17 16.944">
                                                <g id="logout_1_" data-name="logout (1)"
                                                   transform="translate(0 -0.85)">
                                                    <g id="Group_2761" data-name="Group 2761"
                                                       transform="translate(0 0.85)">
                                                        <g id="Group_2760" data-name="Group 2760">
                                                            <path id="Path_5777" data-name="Path 5777"
                                                                  d="M8.472,16.382H2.118a.706.706,0,0,1-.706-.706V2.968a.706.706,0,0,1,.706-.706H8.472a.706.706,0,0,0,0-1.412H2.118A2.121,2.121,0,0,0,0,2.968V15.676a2.121,2.121,0,0,0,2.118,2.118H8.472a.706.706,0,1,0,0-1.412Z"
                                                                  transform="translate(0 -0.85)"
                                                                  fill="#616161"/>
                                                        </g>
                                                    </g>
                                                    <g id="Group_2763" data-name="Group 2763"
                                                       transform="translate(5.648 4.38)">
                                                        <g id="Group_2762" data-name="Group 2762">
                                                            <path id="Path_5778" data-name="Path 5778"
                                                                  d="M181.242,111.6l-4.292-4.236a.706.706,0,1,0-.991,1.005l3.067,3.027h-8.22a.706.706,0,0,0,0,1.412h8.22l-3.067,3.027a.706.706,0,1,0,.991,1.005l4.292-4.236a.706.706,0,0,0,0-1.005Z"
                                                                  transform="translate(-170.1 -107.165)"
                                                                  fill="#616161"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            Cerrar sesión
                                        </a></li>

                                        <li><a href="/portal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="17"
                                                 height="16.944"
                                                 viewBox="0 0 17 16.944">
                                                <g id="logout_1_" data-name="logout (1)"
                                                   transform="translate(0 -0.85)">
                                                    <g id="Group_2761" data-name="Group 2761"
                                                       transform="translate(0 0.85)">
                                                        <g id="Group_2760" data-name="Group 2760">
                                                            <path id="Path_5777" data-name="Path 5777"
                                                                  d="M8.472,16.382H2.118a.706.706,0,0,1-.706-.706V2.968a.706.706,0,0,1,.706-.706H8.472a.706.706,0,0,0,0-1.412H2.118A2.121,2.121,0,0,0,0,2.968V15.676a2.121,2.121,0,0,0,2.118,2.118H8.472a.706.706,0,1,0,0-1.412Z"
                                                                  transform="translate(0 -0.85)"
                                                                  fill="#616161"/>
                                                        </g>
                                                    </g>
                                                    <g id="Group_2763" data-name="Group 2763"
                                                       transform="translate(5.648 4.38)">
                                                        <g id="Group_2762" data-name="Group 2762">
                                                            <path id="Path_5778" data-name="Path 5778"
                                                                  d="M181.242,111.6l-4.292-4.236a.706.706,0,1,0-.991,1.005l3.067,3.027h-8.22a.706.706,0,0,0,0,1.412h8.22l-3.067,3.027a.706.706,0,1,0,.991,1.005l4.292-4.236a.706.706,0,0,0,0-1.005Z"
                                                                  transform="translate(-170.1 -107.165)"
                                                                  fill="#616161"/>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                            Volver al portal
                                        </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cashier-header-overlay">
                </div>
                <div class="cashier-header-overlay"></div>
                <div class="cashier-header-overlay"></div>
                <div class="cashier-header-overlay">
                </div>
                <div class="cashier-header-overlay">
                </div>
                <!-- header area end here -->
            </div>
        </div>
    </div>
</div>