<div class="cashier-dashboard-sidebar">
    <div class="cashier-menu-wrapper bg-white border-r border-b border-solid border-grayBorder py-6 px-7 maxLg:px-5
        maxLg:py-6 shadow-xl">
        <div>
            <div class="cashier-header-profile relative pl-5 flex flex-wrap items-center maxMd:pr-0 mb-7">
                <div class="cashier-header-profile-img w-12 maxSm:mr-0 md:mr-0">
                    <img src="/static/image/logo.png" class="object-cover" alt="profile not found">
                </div>
                <div class="cashier-header-profile-info pl-2.5">
                    <div>
                        <p class="text-[15px] font-bold text-heading" href="profile.html">Control de acceso</p>
                    </div>
                    <span class="text-[13px] font-normal text-bodyText">Visitante</span>
                </div>
            </div>
            <div class="cashier-menu px-0.5">
                <ul id="metismenu">
                    <li><a href="/home_visitante">
                        <svg id="Component_3_1" data-name="Component 3 – 1" xmlns="http://www.w3.org/2000/svg"
                             width="22.461" height="17.875" viewBox="0 0 22.461 17.875">
                            <path id="Path_5727" data-name="Path 5727"
                                  d="M16832.014-18218.125v-5.35h-3.564v5.35h-5.352a.84.84,0,0,1-.627-.266.851.851,0,0,1-.266-.627v-6.686a.291.291,0,0,1,.01-.041c0-.02,0-.033,0-.041l8.01-6.605,8.014,6.605a.177.177,0,0,1,.014.082v6.686a.843.843,0,0,1-.266.627.84.84,0,0,1-.627.266Zm8.348-7.867-10.133-8.627-10.17,8.467a.521.521,0,0,1-.334.1.531.531,0,0,1-.293-.156l-.334-.457a.458.458,0,0,1-.1-.33.409.409,0,0,1,.15-.3l10.02-8.348a1.638,1.638,0,0,1,1.057-.361,1.65,1.65,0,0,1,1.063.361l3.4,2.842v-2.715a.431.431,0,0,1,.123-.32.434.434,0,0,1,.32-.127h2.672a.434.434,0,0,1,.32.127.414.414,0,0,1,.129.32v5.686l3.053,2.535a.4.4,0,0,1,.15.3.449.449,0,0,1-.1.33l-.375.617a.479.479,0,0,1-.293.15A.55.55,0,0,1,16840.361-18225.992Z"
                                  transform="translate(-16819 18236)" fill="#fff"/>
                        </svg>
                        Menú
                    </a></li>

                    <li><a href="javascript:void(0)" class="has-arrow">
                        <svg id="_36_Filter" data-name="36 Filter" xmlns="http://www.w3.org/2000/svg"
                             width="15.435"
                             height="16.571" viewBox="0 0 15.435 16.571">
                            <path id="Path_32" data-name="Path 32"
                                  d="M126.224,8.9a3.976,3.976,0,0,1-3.032-1.513A5,5,0,0,1,122,4.224a4.224,4.224,0,1,1,8.447,0,5,5,0,0,1-1.191,3.163A3.976,3.976,0,0,1,126.224,8.9Zm0-7.282a2.608,2.608,0,0,0-2.605,2.605,3.4,3.4,0,0,0,.809,2.119,2.188,2.188,0,0,0,3.592,0,3.4,3.4,0,0,0,.809-2.119A2.608,2.608,0,0,0,126.224,1.618Z"
                                  transform="translate(-118.618)" fill="#086e54"/>
                            <path id="Path_33" data-name="Path 33"
                                  d="M32.129,306.861a.809.809,0,0,1-.809-.809V304.2a2.394,2.394,0,0,0-2.581-2.579H21.7a2.394,2.394,0,0,0-2.581,2.579v1.855a.809.809,0,0,1-1.618,0V304.2a4,4,0,0,1,4.2-4.2h7.039a4,4,0,0,1,4.2,4.2v1.855a.809.809,0,0,1-.807.809Z"
                                  transform="translate(-17.5 -290.291)" fill="#086e54"/>
                        </svg>
                        Visitante
                    </a>
                        <ul>
                            <li><a href="/visitante">Entrada</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)" class="has-arrow">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.485" height="17.485"
                             viewBox="0 0 17.485 17.485">
                            <g id="Group_11" data-name="Group 11" transform="translate(0 0)">
                                <g id="Group_10" data-name="Group 10">
                                    <path id="Path_24" data-name="Path 24"
                                          d="M83.768,237H81.685a.683.683,0,1,0,0,1.366h2.083a.683.683,0,1,0,0-1.366Z"
                                          transform="translate(-78.236 -228.906)" fill="#086e54"/>
                                    <path id="Path_25" data-name="Path 25"
                                          d="M83.768,315H81.685a.683.683,0,1,0,0,1.366h2.083a.683.683,0,1,0,0-1.366Z"
                                          transform="translate(-78.236 -304.243)" fill="#086e54"/>
                                    <path id="Path_26" data-name="Path 26"
                                          d="M83.768,392H81.685a.683.683,0,1,0,0,1.366h2.083a.683.683,0,1,0,0-1.366Z"
                                          transform="translate(-78.236 -378.612)" fill="#086e54"/>
                                    <path id="Path_27" data-name="Path 27"
                                          d="M213.767,392h-2.083a.683.683,0,1,0,0,1.366h2.083a.683.683,0,1,0,0-1.366Z"
                                          transform="translate(-203.795 -378.612)" fill="#086e54"/>
                                    <path id="Path_28" data-name="Path 28"
                                          d="M88.208,80H81.685a.683.683,0,0,0-.683.683v2.7a.683.683,0,0,0,.683.683h6.523a.683.683,0,0,0,.683-.683v-2.7A.683.683,0,0,0,88.208,80Zm-.683,2.7H82.368V81.367h5.157V82.7Z"
                                          transform="translate(-78.236 -77.269)" fill="#086e54"/>
                                    <path id="Path_29" data-name="Path 29"
                                          d="M16.8,12.022a.683.683,0,0,0,.683-.683V9.631a.683.683,0,0,0-.683-.683H13.387V.684A.683.683,0,0,0,12.7,0H.683A.683.683,0,0,0,0,.684v14.07a2.735,2.735,0,0,0,2.732,2.732H14.768a2.732,2.732,0,0,0,2.716-2.732.683.683,0,0,0-1.366,0,1.366,1.366,0,0,1-1.366,1.366h0a1.368,1.368,0,0,1-1.366-1.366V10.314h2.732v1.025A.683.683,0,0,0,16.8,12.022Zm-14.07,4.1a1.368,1.368,0,0,1-1.366-1.366V1.367H12.021V14.754a2.715,2.715,0,0,0,.367,1.366Z"
                                          transform="translate(0 -0.001)" fill="#086e54"/>
                                    <path id="Path_30" data-name="Path 30"
                                          d="M213.767,237h-2.083a.683.683,0,0,0,0,1.366h2.083a.683.683,0,1,0,0-1.366Z"
                                          transform="translate(-203.795 -228.906)" fill="#086e54"/>
                                    <path id="Path_31" data-name="Path 31"
                                          d="M213.767,315h-2.083a.683.683,0,1,0,0,1.366h2.083a.683.683,0,1,0,0-1.366Z"
                                          transform="translate(-203.795 -304.243)" fill="#086e54"/>
                                </g>
                            </g>
                        </svg>
                        Nomencladores carnet
                    </a>
                        <ul>
                            <li><a href="/categoria">Categoria</a></li>
                            <li><a href="/estado">Estado</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cashier-logo text-center w-full flex flex-col justify-center items-center bg-gray-200 rounded-lg pb-0"
             style="margin-top: 10rem">
            <img src="/static/image/logo_cujae.png" alt="logo not found" class="p-2" style="height: 12rem">
        </div>
    </div>
    <div class="cashier-menu-overlay cashier-menu-overlay-dashboard"></div>
</div>